// ================================
// @@ Bootstrap
// ================================
@import "../bower_components/bootstrap/dist/css/bootstrap.css"

// ================================
// @@ Fonts
// ================================
@import "../bower_components/font-awesome/css/font-awesome.css"

@font-face
  font-family: 'alegreya_sans_scthin'
  src: url('../fonts/alegreyasanssc-thin/alegreyasanssc-thin-webfont.woff2') format('woff2')
  src: url('../fonts/alegreyasanssc-thin/alegreyasanssc-thin-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'alegreya_sans_scbold'
  src: url('../fonts/alegreyasssc-bold/alegreyasanssc-bold-webfont.woff2') format('woff2')
  src: url('../fonts/alegreyasssc-bold/alegreyasanssc-bold-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'alegreya_sans_scregular'
  src: url('../fonts/alegreyasssc-regular/alegreyasanssc-regular-webfont.woff2') format('woff2')
  src: url('../fonts/alegreyasssc-regular/alegreyasanssc-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

// ================================
// @@ BASE
// ================================
@import "base/reset"
@import "base/variables"
@import "base/base-styles"

// ================================
// @@ MIXIN
// ================================
@import "mixin/mediaquery"
@import "mixin/transform"

// ================================
// @@ LAYOUTS
// ================================

@import "layout/header"
@import "layout/_menu-right-wrap"
@import "layout/main-info_wrapper"
@import "layout/our-strengths"
@import "layout/price_wrapper"
@import "layout/footer"
@import "layout/page-webform"

// ================================
// @@ CONTENT
// ================================
@import "content/page-content"
@import "content/accommodatie-full"
@import "content/studio-full"
@import "content/webform-content"
@import "content/floor_layout"


// ================================
// @@ COMPONENTS
// ================================
@import "components/buttons"
@import "components/menu-button"
@import "components/table"

