// ================================
// @@ Bootstrap
// ================================
@import "../bower_components/bootstrap/dist/css/bootstrap.css"

// ================================
// @@ Fonts
// ================================
@import "../bower_components/font-awesome/css/font-awesome.css"

@font-face
  font-family: 'alegreya_sans_scthin'
  src: url('../fonts/alegreyasanssc-thin/alegreyasanssc-thin-webfont.woff2') format('woff2')
  src: url('../fonts/alegreyasanssc-thin/alegreyasanssc-thin-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'alegreya_sans_scbold'
  src: url('../fonts/alegreyasssc-bold/alegreyasanssc-bold-webfont.woff2') format('woff2')
  src: url('../fonts/alegreyasssc-bold/alegreyasanssc-bold-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'alegreya_sans_scregular'
  src: url('../fonts/alegreyasssc-regular/alegreyasanssc-regular-webfont.woff2') format('woff2')
  src: url('../fonts/alegreyasssc-regular/alegreyasanssc-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal


// ================================
// @@ ABSTRACTS
// ================================
@import "0-abstracts/abstracts-dir"

// ================================
// @@ BASE
// ================================
@import "1-base/base-dir"

// ================================
// @@ COMPONENTS
// ================================
@import "2-components/components-dir"

// ================================
// @@ LAYOUTS
// ================================
@import "3-layout/layout-dir"

// ================================
// @@ CONTENT
// ================================
@import "4-content/content-dir"

// ================================
// @@ FIELD
// ================================
@import "5-field/field-dir"

// ================================
// @@ VENDOR
// ================================
@import "6-vendor/vendor-dir"

