// /////////////////////////
// @@ FOOTER
// /////////////////////////

.contact-details
  @extend .section-extend
  color: white
  position: relative
  min-height: 250px
  .contact-details__content
    font-family: 'alegreya_sans_scthin', sans-serif
    position: absolute
    width: 100%
    display: inline-block
    left: 0
    bottom: 100px

.phone
  margin-left: 25px
.phone-field, .phone
  display: inline-block

.copyright
  padding: 15px 0 0
  font-size: 0.75em

+mQuery(479px)
  .contact-details
    .contact-details__content
      padding: 10px
