// /////////////////////////
// @@ FOOTER
// /////////////////////////

.contact-details
  @extend .section-extend
  color: white
  position: relative
  .contact-details__content
    position: absolute
    width: 100%
    display: inline-block
    left: 0
    bottom: 100px
