// /////////////////////////
// @@ HEADER
// /////////////////////////

.header-wrap
  height: 100px
  color: white
  margin: 15px 0
  .menu-wrap
    padding-top: 20px
    text-align: right
    .hamburger-icon
      cursor: pointer