// ///////////////////////////
// @@ MENU WRAPPER
// ///////////////////////////

.menu-right-wrapper
  height: 100vh
  background: $main_color3
  width: 300px
  position: absolute
  right: 0
  padding: 25px
  display: none
  a
    color: white
  &.menu-right-visible
    display: block
