// ///////////////////////////
// @@ MENU WRAPPER
// ///////////////////////////

.menu-right-wrapper
  z-index: 999
  height: 100vh
  background: $main_color1
  width: 350px
  position: fixed
  right: 0
  padding: 25px
  +transition(0.5s)
  transform: translate(570px,0px)
  .close-btn
    cursor: pointer
    text-align: right
  a
    color: white
  &.menu-right__visible
    +transition(0.5s)
    //transition: all 0.5s ease
    transform: translate(0px,0px)
  ul
    list-style-type: none
    //padding-left: 0

.menu-items-wrap
  margin-top: 60px

.menu-item
  border-bottom: solid 1px white
  padding: 30px 0
  font-size: 1.5em
  &:last-child
    border-bottom: none
