// /////////////////////////
// @@ OUR-STRENGTHS
// /////////////////////////

.our-strengths
  background: white
  @extend .section-extend // on variables.sass
  .our-strengths_content
    margin-top: 50px
    width: 100%
  h2
    margin-bottom: 1.67em

.our-strengths__col:last-child
  border-left: solid 1px $main_color1

+mQuery(479px)
  .our-strengths__col
    &:last-child
      border-left: none
      border-top: solid 1px $main_color1
      margin-top: 35px
      padding-top: 35px
