// /////////////////////////
// @@ OUR-STRENGTHS
// /////////////////////////

.our-strengths
  min-height: 450px
  background: white
  color: black
  text-align: center
  padding: 35px
  margin-bottom: 35px
