// /////////////////////////
// @@ BUTTONS
// /////////////////////////

.btn-info_extend
  padding: 1rem 3.5rem
  border: none
  &:after
    content: ""
    padding-left: -2.5rem
    color: white
  &:hover:after
    +transition(0.5s)
    font-family: FontAwesome
    content: "\f101"
    padding-left: 5px
    //color: white


.info__tile--one
  .btn-info
    @extend .btn-info_extend
    background: $main_color1_btn

.info__tile--two
  .btn-info
    @extend .btn-info_extend
    background: $main_color2_btn


.btn-price
  @extend .btn-info_extend
  background: $main-color3_btn
