// /////////////////////////
// @@ MENU-BUTTON
// /////////////////////////

.header__menu
  position: absolute
  top: 3rem
  right: 3rem
  cursor: pointer

  &-text
    font-size: 2.5rem
    +transitionMixin(.3s)

  &:hover &-text
    color: $color__btn--1

  // TODO a beter way to code this
  &:hover
    .line-group__line
      background: $color__btn--1
      width: 100%

  +mQuery(479px)
    top: 2rem

    &-text
      display: none



// E from MENU to hamburger
.line-group
  position: relative
  width: 1.2rem
  height: 1.5rem
  float: left
  margin: .4rem .2rem 0 .2rem

  &__line
    position: absolute
    width: 100%
    height: 2px
    background: #ffffff
    display: block
    +transitionMixin(.3s)

    &--top
      margin-top: .1rem

    &--midle
      margin-top: .7rem
      width: 50%

    &--bottom
      margin-top: 1.4rem
      width: 75%

  +mQuery(479px)
    width: 2rem

    &__line
      width: 100%

      &--top
        margin-top: .3rem

      &--midle
        margin-top: .8rem

      &--bottom
        margin-top: 1.3rem