// /////////////////////////
// @@ MENU-BUTTON
// /////////////////////////

.header__menu
  position: absolute
  top: 3rem
  right: 3rem
  cursor: pointer
  +transitionMixin(.1s)

  +mQuery(479px)
    top: 1rem

  &-btn
    +transitionMixin(.3s)
    &:hover,
    &:focus
      color: $color__btn--1
      .line
        background: $color__btn--1
        width: 100%

    .menu-text
      font-size: 1.5em

  +mQuery(479px)
    //top: 2.5rem
    //TODO dit verhaal geen idee dient opgelost

    .line-group
      width: 24px
      .line
        width: 100%
        &--top
          margin-top: 3px
        &--midle
          margin-top: 8px
        &--bottom
          margin-top: 13px

    .menu-text
      display: none



// E from MENU to hamburger
.line-group
  position: relative
  width: 12px
  height: 15px
  float: left
  margin: 4px 2px 0 2px
  .line
    position: absolute
    width: 100%
    height: 2px
    background: #ffffff
    display: block
    +transitionMixin(.3s)

    &--top
      margin-top: 1px
    &--midle
      margin-top: 7px
      width: 50%
    &--bottom
      margin-top: 14px
      width: 75%

