// ///////////////////////
// @@ ++ READMORE
// //////////////////////

.readmore
  // margin-top: 5rem
  display: block
  +center(horizontal)
  bottom: 4rem

  +respond(smallest-phone)
    bottom: 2rem


  &--impressie-link
    position: relative
    left: 0
    transform: translate(0)
    transform: translateY(6rem)

    +respond(smallest-phone)
      transform: translateY(3rem)

  &--price
    // margin-top: 6rem

  &--popup
    margin-top: 3rem
