// ///////////////////////
// @@ ++ READMORE
// //////////////////////

.readmore
  // margin-top: 5rem
  display: block
  +center(horizontal)
  bottom: 4rem


  &--impressie-link
    margin-top: 3rem

  &--price
    // margin-top: 6rem

  &--popup
    margin-top: 3rem
