{#
/**
 * Created by Stefan on 18/04/2017.
 */
#}

<footer class="footer-wrap">
  <div class="row no-gutter">
    <div class="contact-details">
      <div class="contact-details__content">
        <div class="address">
          <i class="fa fa-home"></i>ROOISTRAAT 50 - 3590 DIEPENBEEK
        </div>

        <div class="phone">
          <i class="fa fa-phone"></i>
          <div class="phone-field">+32 11 227 710</div>
        </div>{# end .phone #}
        <div class="phone-mobile-view">
          <a href="tel:+3211227710">
            <i class="fa fa-phone"></i>
            <div class="phone-field">+32 11 227 710</div>
          </a>
        </div>
        <div class="email-url-wrap">
          <script>
              document.write("<a class='email-url' href=\"mail" + "to:" + new Array("jp.kot", "hotmail.com").join("@") + "\">" +
                  "Ons contacteren via mail" + "</" + "a>");
          </script>
        </div>
        <div class="copyright">
          <i class="fa fa-copyright"></i>Alle rechten voorbehouden JPKOT | 2017
        </div>
      </div>
      {# contact-details__content #}
    </div>
    {# contact-details #}
  </div>
  {# .row #}
</footer>