{#
/**
 * Created by Stefan on 18/04/2017.
 */
#}

<footer class="footer u-margin-top--default">
  
    <div class="footer__contact">
      <div class="footer__contact-content">

        <div class="footer__address icon--home">
          ROOISTRAAT 50 - 3590 DIEPENBEEK
        </div>

        <div class="footer__phone">

          {#Desktop version Phone#}
          <div class="footer__phone--desktop">
            <div class="footer__phone-field icon--phone">+32 11 227 710</div>
          </div>

          {#Mobile version Phone#}
          <div class="footer__phone--mobile">
            <a href="tel:+3211227710">
              <div class="footer__phone-field icon--phone">+32 11 227 710</div>
            </a>
          </div>

        </div>
        {#end footer__phone#}

        <div class="footer__email">
          <script>
              document.write("<a class='email-url icon--mail' href=\"mail" + "to:" + new Array("jp.kot", "hotmail.com").join("@") + "\">" +
                  "Ons contacteren via mail" + "</" + "a>");
          </script>
        </div>

        <div class="footer__copyright icon--copy">
          Alle rechten voorbehouden JPKOT | {{ "now"|date("Y") }}
        </div>

      </div>
      {# footer__contact-content #}
    </div>
    {# footer__contact #}

</footer>