{#
/**
 * Created by Stefan on 18/04/2017.
 */
#}

<header class="header-wrap">
  <div class="row">
    <div class="col-xs-2">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ base_path ~ directory }}/logo.png" alt="JP-KOT">
      </a>
    </div>
    <div class="col-xs-8">
      <h1>OP KOT IN DIEPENBEEK</h1>
    </div>
    <div class="col-xs-2">
      <div class="menu-wrap">
        <div class="menu-btn">MENU <i class="fa fa-bars" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
</header>