{#
/**
 * Created by Stefan on 18/04/2017.
 * Header with logo, site-title and menu-btn
 * menu-items on menu-right-wrap.html.twig
 */
#}

<header class="header-wrap">
  <div class="row">
    <div class="col-xs-2">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ base_path ~ directory }}/logo.png" alt="JP-KOT">
      </a>
    </div>
    <div class="col-xs-8">
      <h1>OP KOT IN DIEPENBEEK</h1>
    </div>
    <div class="col-xs-2">
      <div class="menu-wrap" id="open__menu">
        <div class="menu-btn">
          <span class="menu-text" style="float: left">M</span>
          <div class="line-group">
            <span class="line line-top"></span>
            <span class="line line-midle"></span>
            <span class="line line-bottom"></span>
          </div>
          <span class="menu-text">NU</span>
        </div>
      </div>
    </div>
  </div>
</header>