{#
/**
 * @file
 * Main-navigation {{ page.nav }}
 /*
 #}
{% set classes = [
'menu-right',
] %}

<nav{{ attributes.addClass(classes) }}>

  <div class="menu-right__close-btn" id="close__menu">

    <div class="button-close">
      <span class="button-close__line button-close__line--one"></span>
      <span class="button-close__line button-close__line--two"></span>
    </div>
  </div>

  <div class="menu-right__menu-items">
      {{ page.nav }}
  </div>

  <div class="menu-right__email">
    <script>
      document.write("<a class='email-url' href=\"mail" + "to:" + new Array("jp.kot", "hotmail.com").join("@") + "\">" +
          "Ons contacteren via mail" + "</" + "a>");
    </script>
  </div>
</nav>