{#
/**
 * @file
 * Main-navigation {{ page.nav }}
 /*
 #}
{% set classes = [
'menu-right-wrapper',
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="close-btn-wrapper">
    <div class="close-btn" id="close__menu">
      <span class="line line-one"></span>
      <span class="line line-two"></span>
    </div>
  </div>

  <div class="menu-items-wrap">
    <div class="menu-items">
      {{ page.nav }}
    </div>
  </div>

  <div class="menu-right-email-wrap">
    <script>
      document.write("<a class='email-url' href=\"mail" + "to:" + new Array("jp.kot", "hotmail.com").join("@") + "\">" +
          "Ons contacteren via mail" + "</" + "a>");
    </script>
  </div>
</div>