{#
/**
 * @file
 * Created by stefan on 12/8/17
 *
*/
#}

{{ page.help }}

<div class="row">
    <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

        <section class="page__content">
            {{ page.content }}
        </section>

    </main>
</div>