{#
/**
 * @file
 * Created by stefan on 12/8/17
 *
*/
#}

<div class="popup-price" id="popup-price">
    <div class="popup-price__content">

        <a href="#section-price" class="popup-price__close">&times;</a>

        <div class="popup-price__body">
            {{ page.popupprice }}
        </div>

        <div class="readmore--popup">
            <a href="{{ base_path }}contact" rel="bookmark" class="btn btn--steenweg">{{ 'MEER INFORMATIE aanvragen'|t }}</a>
        </div>
    </div>
</div>