{#
/**
 * @file
 * Created by stefan on 12/8/17
 *
*/
#}

<section class="section-price" id="section-price">
    <div class="row no-gutter">
        <div class="price">
            {{ page.price }}
        </div>
    </div>
</section>