{#
/**
 * Created by Stefan on 9/12/2017.
 */
#}

<div class="row">
  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <section class="webform">
      {{ page.content }}
    </section>

  </main>
</div>