<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../js/menu.js"></script>
    <link rel="stylesheet" href="../../css/styles.css">
    <title>JP-KOT</title>
</head>
<body>

<div class="menu-right-wrapper menu-right__visible">
    <div class="close-btn">
        <img src="../../images/close.png" alt="close">
    </div>
    <div class="menu-items-wrap">
        <div class="menu-items">
            <ul>
                <li class="menu-item"><a href="index.html">HOME</a></li>
                <li class="menu-item"><a href="steenweg.html">STEENWEG 190</a></li>
                <li class="menu-item"><a href="#">ROOISTRAAT 50</a></li>
                <li class="menu-item"><a href="#">PRIJZEN</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <header class="header-wrap">
        <div class="row no-gutter">
            <div class="col-xs-2">
                <img src="../../logo.png" alt="JP-KOT">
            </div>
            <div class="col-xs-8">
                <h1>OP KOT IN DIEPENBEEK</h1>
            </div>
            <div class="col-xs-2">
                <div class="menu-wrap menu-wrap__visible">
                    <div class="menu-btn">MENU <i class="fa fa-bars" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </header>

    <section class="main-info_wrap">
        <div class="main-info">
            <div class="row no-gutter">
                <div class="col-md-6">
                    <div class="info-tiles_wrap">

                        <div class="info__tile--one">

                            <div class="info-tile__content">
                                <h2>STEENWEG 190</h2>
                                <p>28 studio’s, volledig uitgerust met alle comfort
                                    Ideaal gelegen tussen campus Diepenbeek en stad Hasselt
                                </p>
                                <div class="available-message">
                                    Alle studio’s zijn voor het ogenblik bezet
                                </div>
                            </div>
                            <!--end info-tiles__content-->
                            <div class="readmore-wrap">
                                <a href="steenweg.html" class="btn btn-info">MEER</a>
                            </div>
                        </div>

                        <div class="info-tile_two">
                            <div class="info-tile__content">
                                <h2>ROOISTRAAT 50</h2>
                                <p>
                                    4 studio’s, volledig uitgerust met alle comfort
                                    Ideaal gelegen tussen campus Diepenbeek en stad Hasselt
                                </p>
                                <div class="available-message">
                                    Nog 4 studio’s beschikbaar
                                </div>
                            </div>
                            <!--end info-tiles__content-->

                            <div class="readmore-wrap">
                                <a href="#" class="btn btn-info">MEER</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-slider">
                        <img src="../../html_images/rooistraat.jpg" alt="Rooistraat">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-strengths-wrap">
        <div class="row no-gutter">
            <div class="our-strengths">
                <h2>ONZE TROEVEN</h2>
                <div class="col-md-6 our-strengths__col">
                    <img src="../../images/Google_Maps.png" alt="ligging">
                    <div class="our-strengths_content">
                        <h3>LIGGING</h3>
                        <p>Ideaal gelegen tussen campus Diepenbeek en stad Hasselt</p>
                    </div>
                </div>
                <div class="col-md-6 our-strengths__col">
                    <img src="../../images/Google_Maps.png" alt="ligging">
                    <div class="our-strengths_content">
                        <h3>ONTSPANNING</h3>
                        <p>Tafeltennis, snooker, pool, darts en fitness voorzien.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="price-wrap">
        <div class="row no-gutter">
            <div class="price">
                <div class="price-content">
                    <h2>PRIJZEN</h2>
                    <p>Om je budjet voor je studies adekwaat te kunnen plannen, blijven onze prijzen
                        onveranderd gedurende je hele studie-loopbaan.</p>
                    <p>We maken gebruikt van het standaard LUC-contract.</p>
                </div>
                <div class="readmore-wrap">
                    <a href="#" class="btn btn-price">MEER</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-wrap">
        <div class="row no-gutter">
            <div class="contact-details">
                <div class="contact-details__content">
                    <i class="fa fa-home"></i> ROOISTRAAT 50 - 3590 DIEPENBEEK
                    <div class="phone">
                        <i class="fa fa-phone"></i>
                        <div class="phone-field">
                            +32 11 227 710
                        </div>
                    </div>
                    <div class="copyright">&copy; Alle rechten voorbehouden JPKOT | 2017</div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>