<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/styles.css">
  <title>JP-KOT</title>
</head>
<body>
<div class="container">
  <header class="header-wrap">
    <div class="row no-gutter">
      <div class="col-xs-2">
        <img src="../../logo.png" alt="JP-KOT">
      </div>
      <div class="col-xs-8">
        <h1>OP KOT IN DIEPENBEEK</h1>
      </div>
      <div class="col-xs-2">
        <div class="menu-wrap">
          <div class="menu">MENU</div>
          <img src="../../images/hamburger.png" alt="">
        </div>
      </div>
    </div>
  </header>


  <section class="page-content-wrap">

  </section>



  <footer class="footer-wrap">
    <div class="row no-gutter">
      <div class="contact-details">
        <div class="contact-details__content">
          <i class="fa fa-home"></i> ROOISTRAAT 50 3590 DIEPENBEEK
          <i class="fa fa-phone"></i> +32 11 227 710
          <p>&copy; Alle rechten voorbehouden JPKOT | 2017</p>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>