<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>JP-KOT</title>
</head>
<body>
<div class="container">
    <header class="header-wrap">
        <div class="row no-gutter">
            <div class="col-xs-2">
                <img src="../../logo.png" alt="JP-KOT">
            </div>
            <div class="col-xs-8">
                <h1>OP KOT IN DIEPENBEEK</h1>
            </div>
            <div class="col-xs-2">
                <div class="menu-wrap">
                    <div class="menu">MENU</div>
                    <img src="../../images/hamburger.png" alt="">
                </div>
            </div>
        </div>
    </header>

    <section class="main-info_wrap">
        <div class="main-info">
            <div class="row no-gutter">
                <div class="col-md-6">
                    <div class="info-tiles_wrap">
                        <div class="info-tile_one">
                            <div class="info-tile__content">
                                <h2>STEENWEG 190</h2>
                                <p>28 studio’s, volledig uitgerust met alle comfort
                                    Ideaal gelegen tussen campus Diepenbeek en stad Hasselt
                                </p>
                                <div class="available-message">
                                    Alle studio’s zijn voor het ogenblik bezet
                                </div>
                                <div class="btn-info_wrap">
                                    <a href="#" class="btn btn-info-tiles">MEER</a>
                                </div>

                            </div>
                        </div>
                        <div class="info-tile_two">
                            <div class="info-tile__content">
                                <h2>ROOISTRAAT 50</h2>
                                <p>
                                    4 studio’s, volledig uitgerust met alle comfort
                                    Ideaal gelegen tussen campus Diepenbeek en stad Hasselt
                                </p>
                                <div class="btn-info_wrap">
                                    <a href="#" class="btn btn-info-tiles">MEER</a>
                                </div>
                                <div class="available-message">
                                    Nog 4 studio’s beschikbaar
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-slider">
                        <img src="../../html_images/rooistraat.jpg" alt="Rooistraat">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-strengths-wrap">
        <div class="row no-gutter">
            <div class="our-strengths">
                <h2>ONZE TROEVEN</h2>
                <div class="col-md-6">
                    <h3>LIGGING</h3>
                    <p>Ideaal gelegen tussen campus Diepenbeek en stad Hasselt</p>
                </div>
                <div class="col-md-6">
                    <h3>ONTSPANNING</h3>
                </div>
            </div>
        </div>

    </section>
</div>
</body>
</html>