<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../js/menu.js"></script>
  <link rel="stylesheet" href="../../css/styles.css">
  <title>JP-KOT</title>
</head>
<body>

<div class="menu-right-wrapper">
  <div class="close-btn">
    <img src="../../images/close.png" alt="close">
  </div>
  <div class="menu-items-wrap">
    <div class="menu-items">
      <ul class="menu">
        <li class="menu-item"><a href="index.html">HOME</a></li>
        <li class="menu-item"><a href="steenweg.html">STEENWEG 190</a></li>
        <li class="menu-item"><a href="#">ROOISTRAAT 50</a></li>
        <li class="menu-item"><a href="#">PRIJZEN</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <header class="header-wrap">
    <div class="row no-gutter">
      <div class="col-xs-2">
        <img src="../../logo.png" alt="JP-KOT">
      </div>
      <div class="col-xs-8">
        <h1>OP KOT IN DIEPENBEEK</h1>
      </div>
      <div class="col-xs-2">
        <div class="menu-wrap">
          <div class="menu">MENU</div>
          <div class="hamburger-icon">
            <img src="../../images/hamburger.png" alt="">
          </div>

        </div>
      </div>
    </div>
  </header>


  <section class="page-content-wrap">
    <div class="row no-gutter">
      <div class="pages">
        <div class="col-md-4">
          <div class="page-content__image">
            <img src="../../html_images/steenweg.jpg" alt="steenweg">
          </div>
        </div>
        <div class="col-md-8">
          <div class="pages-content">
            <h2>STEENWEG 190</h2>
            <h3>Faciliteiten</h3>
            <h4>Uitrusting studio's</h4>
            <ul>
              <li>Badkamer: douche, toilet en lavabo.</li>
              <li>Keuken: koelkast, kookplaten en spoelbak.</li>
              <li>Bed</li>
              <li>Vloerverwarming met individuele regeling.</li>
              <li>Halogeen verlichting.</li>
              <li>Internet aansluiting.</li>
            </ul>
            <h4>Buiten</h4>
            <ul>
              <li>Sportveld voor basketbal, volleybal en minivoetbal.</li>
              <li>Fietsenstalling</li>
              <li>BBQ</li>
              <li>Zitrotonde</li>
              <li>Voldoende parkeerplaatsen</li>
            </ul>
            <h4>Grote volledig uitgerust ontspanningsruimte met</h4>
            <ul>
              <li>hoeksalon, tafels</li>
              <li>Tafeltennis</li>
              <li>snookertafel</li>
            </ul>
            <h4>Fitnessruimte inclusief toestellen</h4>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="footer-wrap">
    <div class="row no-gutter">
      <div class="contact-details">
        <div class="contact-details__content">
          <i class="fa fa-home"></i> ROOISTRAAT 50 3590 DIEPENBEEK
          <i class="fa fa-phone"></i> +32 11 227 710
          <p>&copy; Alle rechten voorbehouden JPKOT | 2017</p>
        </div>
      </div>
    </div>
  </footer>
</div>
<!--end container-->
</body>
</html>