{#
/**
 * Created by Stefan on 27/04/2017.
 */
#}
<div class="info-tile__content">
  <h2>{{ label }}</h2>
  {{ content.field_accomm_samenvat }}
  <div class="available-message">
    {{ content.field_aantal_vrij }}
  </div>
</div>
<!--end info-tiles__content-->
<div class="btn-wrap">
  <a href="{{ url }}" class="btn btn-info">MEER</a>
</div>
