{#
/**
 * Created by Stefan on 27/04/2017.
 */
#}
<div class="accommodation-tile__content">
  <h2 class="heading-secondary heading-secondary--white">{{ label }}</h2>
  {{ content.field_accomm_samenvat }}
  <div class="available-message">
    {{ content.field_aantal_vrij }}
  </div>
</div>
<!--end info-tiles__content-->
<div class="readmore-wrap">
  <a href="{{ url }}" class="btn btn-info">MEER</a>
</div>
