// /////////////////////////
// @@ MENU-BUTTON
// /////////////////////////

.menu-wrap
  +transition(0.4s)
  padding-top: 35px
  text-align: right
  cursor: pointer
.menu-wrap__visible
  +transition(0.5s)
  color: transparent

.menu
  font-size: 1.5em