// /////////////////////////
// @@ MENU-BUTTON
// /////////////////////////

.menu-wrap
  +transition(0.1s)
  padding-top: 35px
  position: absolute
  right: 0
  cursor: pointer

.menu-wrap__visible
  display: none


// E from MENU to hamburger

.line-group
  position: relative
  width: 12px
  height: 15px
  float: left
  margin: 4px 2px 0 2px
  .line
    position: absolute
    width: 100%
    height: 2px
    background: #ffffff
    display: block
    +transition(0.3s)
  .line-top
    margin-top: 1px
  .line-midle
    margin-top: 8px
    width: 50%
  .line-bottom
    margin-top: 15px
    width: 75%

.menu-btn
  font-size: 1.5em
  +transition(0.3s)
  &:hover
    color: $main_color1_btn
    .line
      background: $main_color1_btn
      width: 100%

+mQuery(479px)
  .menu-wrap
    padding-top: 25px
    right: 25px
    .menu-btn
      font-size: 1em
      .menu-text
        display: none
      .line
        width: 100%
      .line-top
        margin-top: 3px
      .line-bottom
        margin-top: 13px