// /////////////////////////
// @@ ACCOMMODATIE FULL
// ////////////////////////
.page-content__body
  .available-message
    background: $main_color3
    padding: 15px

+mQuery(479px)
  h2
    font-size: 1.6em