// /////////////////////////
// @@ ACCOMMODATION FULL
// ////////////////////////

.page-content__body
  .available-message
    background: $main_color3
    padding: 15px
    display: inline-block

.impression__link
  margin: 25px 0
  padding: 15px
  background: $main_color1
  //font-size: 1.3em
  display: inline-block
  a
    color: white