// ////////////////////
// @@ PAGE CONTENT
// ///////////////////

.page-content-wrap
  //@extend .section-extend
  background: white
  padding: 35px
  overflow: hidden

.page-content__image
  overflow: hidden
  img
    width: 100%
    height: auto
    vertical-align: middle