// ///////////////////////////
// @@ VARIABLES
// ///////////////////////////

// COLORS - http://www.colorhexa.com
$body_color: #4e5266  //Very dark grayish blue
$main_color1: #4cabb1 //Dark moderate cyan
$main_color1_btn: #5ab7bd //Moderate cyan
$main_color2: #69c7ad //Slightly desaturated cyan - lime green
$main_color2_btn: #8cd7c2 //Slightly desaturated cyan - lime green
$main_color3: #fed586 //Soft orange
$main_color3_btn: #d2aa5e //Moderate orange

$red: #c20505 //Strong red

$main-fontcolor: #444444 //Very dark gray


$color-white: #ffffff
$color-black: #000000

// EXTENDS
.section-extend
  color: $main-fontcolor
  text-align: center
  padding: 3.5rem
  min-height: 45rem