// ///////////////////////
// @@ ++ TYPOGRAPHY
// //////////////////////

body
  font-family: $ff
  font-size: $fs


.heading-primary
  font-size: $fs + 2.2rem  //3.8rem
  text-transform: uppercase
  margin: 2.5rem 0

  &--white
    color: $color__white

  &--black
    color: $color__black

  +respond(phone)
    text-align: center

  +respond(small-phone)
    font-size: $fs + .9rem

  +respond(smallest-phone)
    font-size: $fs + .5rem  //2.2rem


.heading-secondary
  font-size: $fs + 1.6rem   //3.2rem
  text-transform: uppercase
  margin-bottom: 3.5rem

  &--white
    color: $color__white

  &--black
    color: $color__black

  &--lower
    text-transform: capitalize

  +respond(smallest-phone)
    margin-bottom: 1.5rem
    font-size: $fs + .8rem   //2.4rem


.heading-tertiary, h3
  font-size: $fs + 1.1rem  //2.7rem
  margin: 1.8rem 0

  +respond(tab-port)
    font-size: 1.7rem
    

.heading-fourth, h4
  font-size: $fs + .4rem  //2rem
  margin-top: 0.6rem
  margin-bottom: 0.6rem


p
  line-height: 2.3
  font-size: $fs + .2rem    //1.8rem

  +respond(smallest-phone)
    line-height: 2
