{#
/**
 * @file
 * Theme override for field--field-beschikbaar.html.twig
 *
 * The file field--field-beschikbaar.html.twig is only accessed when in the view at the field setting
 * of this field under style settings 'use fieldtemplate' is selected.
 *
 * if 'field_beschikbaar' == 'Bezet' change color to red
 * |striptags - the striptags filter strips SGML/XML tags and replace adjacent whitespace by one space
 * |render - https://www.drupal.org/node/2448219
 * {{ item.content|render|striptags }}
 *
 * module twig_field_value for the raw value
 * https://www.drupal.org/project/twig_field_value
 * 
 * SASS _accommodation-full.sass
 */
#}

{# TODO setting up all of this with JS, makes it much simpler, no extra module required #}

{% for item in items %}
  <div{{ item.attributes.addClass('availability') }}>
    <div class="hasClass availability__field">{{ item.content }}</div>
  </div>
{% endfor %}