{#
/**
 *
 * {{ item.content }}
 */
#}

{% for item in items %}
  <div{{ item.attributes.addClass('field__beschikbaar') }}>
    {% set text = item.content|render|striptags %}
    {% if text == 'Bezet' %}
      <div class="field__bezet">
        {{ text }}
      </div>
    {% else %}
      <div class="field__vrij">
        {{ text }}
      </div>
    {% endif %}
  </div>
{% endfor %}