{#
/**
 * @file
 * Theme override for field--field-beschikbaar.html.twig
 *
 * The file field--field-beschikbaar.html.twig is only accessed when in the view at the field setting
 * of this field under style settings 'use fieldtemplate' is selected.
 *
 * if 'field_beschikbaar' == 'Bezet' change color to red
 * |striptags - the striptags filter strips SGML/XML tags and replace adjacent whitespace by one space
 * |render - https://www.drupal.org/node/2448219
 * {{ item.content|render|striptags }}
 *
 * module twig_field_value for the raw value
 * https://www.drupal.org/project/twig_field_value
 * 
 * SASS _accommodation-full.sass
 */
#}

{% for item in items %}
  <div{{ item.attributes.addClass('field__disposable') }}>
    {% set strippedText = item.content|render|striptags %}
    {% if strippedText == 'Bezet' %}
      <div class="field__occupied">
        {{ strippedText }}
      </div>
    {% else %}
      <div class="field__free">
        {{ strippedText }}
      </div>
    {% endif %}
  </div>
{% endfor %}