{#
/**
 * @file
 * Theme override for field field--field-impressie-img.html.twig.
 * SASS file vendor/_waterfall.sass
 *
 * @see template_preprocess_field()
 */
#}
{% set classes = [
'waterfall',
'field--name-' ~ field_name|clean_class,
'field--type-' ~ field_type|clean_class,
'field--label-' ~ label_display,
] %}


<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <ul class="pin list-group">
      <li class="list-group-custom">
        {{ item.content }}
      </li>
      <li class="pin-footer">
        <div class="enlarge">
          <a href="#">
            <span class="search-icon"></span>
          </a>
        </div>
      </li>
    </ul>
  {% endfor %}
</div>
