{#
/**
 * @file
 * Theme override for field--field-beschikbaar.html.twig
 *
 * The file field--field-beschikbaar.html.twig is only accessed when in the view at the field setting
 * of this field under style settings 'use fieldtemplate' is selected.
 *
 * 
 * sass/5-field/_field-berschikbaar.sass
 * remove .availability__field and add .availability__field--occupied if contents
 * contain content 'Bezet' that all along with JS js/custom.js
 * hasClass = dummy class see comment on js/custom.js
 */
#}

{# TODO setting up all of this with JS, makes it much easier (but no), no extra module and settings in the view #}


{% for item in items %}
  <div{{ item.attributes.addClass('availability') }}>
    <div class="hasClass availability__field">{{ item.content }}</div>
  </div>
{% endfor %}