// /////////////////////////
// @@ ACCOMMODATION FULL
// ////////////////////////


.accommodation-message
  background: $main_color3
  padding: 15px
  display: inline-block

.accommodation__image
  overflow: hidden
  img
    width: 100%
    height: auto
    vertical-align: middle

.accommodation-impression-link
  margin: 25px 0
  display: inline-block
  &.link-steenweg
    @extend .btn-info_extend
    background: $main_color1
  &.link-rooistraat
    @extend .btn-info_extend
    background: $main_color2
  a
    color: white
    &:hover
      text-decoration: none
      color: white