// /////////////////////////////////////
// @@ ACCOMMODATION
// ////////////////////////////////////

// ACCOMMODATION ON FRONT-PAGE NODE--ACCOMMODATIE--TEASER.HTML.TWIG

.accommodation__tiles
  p
    line-height: 4rem
  a
    color: white

  .accommodation__tile
    height: 45rem
    padding: 3.5rem
    text-align: center
    color: white
    vertical-align: middle
    position: relative

    +respond(tab-port)
      height: 41rem

    +respond(phone)
      padding: 1.5rem

    &-content
      display: inline-block
      width: 75%

      +respond(phone)
        width: 100%

    &--one
      background: $color__main--1
      .btn--info
        background: $color__btn--1

    &--two
      background: $color__main--2
      .btn--info
        background: $color__btn--2


.accommodation__available-message
  margin-top: 4.5rem
  font-size: 1.8rem

  +respond(tab-land)
    margin-top: 2.5rem

.accommodation__slider
  height: 90rem
  overflow: hidden

  +respond(tab-port)
    display: none

  &-slides

    img
      width: 100%
      height: auto
      vertical-align: middle


//ACCOMMODATION FULL NODE--ACCOMMODATIE--FULL.HTML.TWIG

.accommodation
  &__image
    overflow: hidden

    img
      width: 100%
      height: auto
      vertical-align: middle

  &__content
    position: relative
    &-message
      background: $color__main--3
      padding: 1.5rem
      display: inline-block
      margin-bottom: .5rem

      +respond(tab-port)
        width: 100%
        text-align: center


