// /////////////////////////
// @@ STUDIO FULL
// ////////////////////////

.studio
  &__floorplan
    img
      width: 100%
      height: auto

  &__description

    &-available
      padding: 1rem

      &--free
        background: $color__main--1

      &--occupied
        background: $color__main--3
    &-body
      margin-bottom: 25px

    &-price
      background: $color__main--1
      padding: 10px 20px
      display: inline-block
      color: $color__white

    &-backto
      margin-top: 2.5rem

