// /////////////////////////
// @@ STUDIO FULL
// ////////////////////////

.studio
  &__floorplan
    img
      width: 100%
      height: auto

  &__description

    &-available--free
      background: $main_color1
      padding: 10px

    &-available--occupied
      background: $main_color3
      padding: 10px

    &-backto
      margin-top: 2.5rem
