// ////////////////////
// @@ WEBFORM CONTENT
// ///////////////////

.field-extend
  background: none
  color: $color__white
  outline: none
  text-transform: lowercase
  border: none
  border-bottom: dotted 1px $color__white
  &:focus
    border-color: rgba($color__white, .4)

.webform
  color: $color__white
  padding: 0 3.5rem

  +respond(phone)
    padding: 0 1rem

  &__message
    font-size: $fs + .2rem

  &__content
    input
      @extend .field-extend
      padding: .5rem 0 0
      width: 37rem

      +respond(smallest-phone)
        width: 22rem

      &[type='submit']
        @extend .btn:link
        @extend .btn--steenweg

        &:hover
          @extend .btn:hover

        &:active,
        &:focus
          @extend .btn:active
          outline: none
          background: $color__main--1

    textarea
      @extend .field-extend
      width: 47.5rem
      resize: none
      overflow: hidden
      min-height: 2rem !important
      padding: 0
      margin-top: 1rem

      +respond(smallest-phone)
        width: 32rem

  &__submit
    margin-top: 6rem

    +respond(small-phone)
      text-align: center





