// /////////////////////////
// @@ FOOTER
// /////////////////////////

.footer
  &__contact
    @extend .section-extend //_variables.sass
    color: rgba($color-white, .4)
    position: relative
    min-height: 250px
    .fa
      padding: 0 6px
      color: rgba($color-white, .4)
    &-content
      position: absolute
      width: 100%
      display: inline-block
      left: 0
      bottom: 100px

      +mQuery(479px)
        padding: 10px
        .footer__phone
          &--desktop
            display: none
          &--mobile
            display: block

  &__phone
    &--desktop
      display: block
    &--mobile
      display: none
      margin: 20px 0
      a
        color: white
        padding: 10px 15px
        border: solid 1px rgba($color-white, .4)

  &__email
    a
      color: rgba($color-white, .4)
      @extend .mail-icon

  &__copyright
    padding: 15px 0 0
    font-size: 0.75em


.phone-field
  display: inline-block




