// /////////////////////////
// @@ MAIN INFO WRAPPER
// /////////////////////////

.info-tile_extend
  height: 450px
  padding: 35px
  text-align: center
  color: white
  vertical-align: middle
  position: relative
  +mQuery(479px)
    padding: 15px
  .available-message
    margin-top: 45px
    font-size: 1.125em

.info-tiles_wrap
  p
    line-height: 2.5em
  a
    color: white

  .info-tile__content
    display: inline-block
    width: 75%
    +mQuery(479px)
      width: 100%

  .info-tile_one
    background: $main_color1
    @extend .info-tile_extend

  .info-tile_two
    background: $main_color2
    @extend .info-tile_extend


.info-slider
  overflow: hidden
  img
    width: 100%
    height: auto
    vertical-align: middle
  +mQuery(479px)
    display: none
