// /////////////////////////
// @@ OUR-STRENGTHS
// /////////////////////////

// the extends for the DRY principles
// http://programmer.97things.oreilly.com/wiki/index.php/Don%27t_Repeat_Yourself
.extend-strengts__image--after
  content: ""
  transition: opacity 0.5s
  position: absolute
  opacity: 0
  top: 0
  right: 0
  bottom: 0
  left: 0

.extend-strengts__image--hover
  opacity: 1
  transition: opacity 0.5s


.our-strengths
  background: white
  color: $color__font
  text-align: center
  padding: 3.5rem
  min-height: 45rem

  .heading-secondary--black
    margin-bottom: 1.67em

  &__column
    &:last-child
      border-left: solid 1px $color__main--1

      +respond(tab-port)
        border-left: none
        border-top: solid 1px $color__main--1
        margin-top: 3.5rem
        padding-top: 3.5rem

  &__content
    margin-top: 5rem
    width: 100%


  // The images sprites with transition https://gordonlesti.com/css-background-transitions-with-image-sprites/
  // Disadvantage with this method sprites must be pixel perfect (sprites do not change but lie together)
  &__icon
    position: relative
    display: inline-block
    width: 116px
    height: 116px

    img
      width: 116px
      height: 256px


    &--location
      background: transparent url("../images/google-icon.jpg") no-repeat 0 0
      &::after
        background: transparent url("../images/google-icon.jpg") no-repeat 0 -116px
        @extend .extend-strengts__image--after
      &:hover::after
        @extend .extend-strengts__image--hover

    &--recreation
      background: transparent url("../images/recreation-icon.jpg") no-repeat 0 0
      &::after
        background: transparent url("../images/recreation-icon.jpg") no-repeat 0 -116px
        @extend .extend-strengts__image--after
      &:hover::after
        @extend .extend-strengts__image--hover





