// ///////////////////////
// @@ ++ PHOTO ALBUM
// ///////////////////////

// no white background and padding for .page-content-wrap
// on the impressie pages (photo albums)
// this is actually a override of the page.html.twig



.page-node-type-foto-album
  .page__content
    padding: 1%
  .heading-primary
    color: white


.node-42  // node--steenweg
  .page__content
    background: $color__main--1

.node-43  // node--rooistraat
  .page__content
    background: $color__main--2
