// ///////////////////////
// @@ ++ PHOTO ALBUM
// ///////////////////////

// no white background and padding for .page-content-wrap
// on the impressie pages (photo albums)
// this is actually a override of the page.html.twig



.page-node-type-foto-album
  .page-content-wrap
    padding: 1%
  h1
    color: white

.node-42
  .page-content-wrap
    background: $main_color1
.node-43
  .page-content-wrap
    background: $main_color2
