// ///////////////////////////////
// @@ PRICE SECTION ON FRONTPAGE
// ///////////////////////////////

.price
  background: $color__main--3
  position: relative
  color: $color__font
  text-align: center
  min-height: 35rem
  padding: 4.5rem

  +respond(phone)
    padding: 2.5rem
    
  &__content

    +respond(phone)
      padding: 0 1rem


    
