<div class="menu-right-wrapper menu-right__visible">
  <div class="close-btn">
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
  </div>
  <div class="menu-items-wrap">
    <div class="menu-items">
      <ul>
        <li class="menu-item"><a href="#">HOME</a></li>
        <li class="menu-item"><a href="#">STEENWEG 190</a></li>
        <li class="menu-item"><a href="#">ROOISTRAAT 50</a></li>
        <li class="menu-item"><a href="{{ base_path }}prijzen">PRIJZEN</a></li>
      </ul>
      {{ page.nav }}
    </div>
  </div>
</div>