<div class="menu-right-wrapper menu-right__visible">
  <div class="close-btn">
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
  </div>
  <div class="menu-items-wrap">
    <div class="menu-items">
      {{ page.nav }}
    </div>
  </div>
</div>