{#
/**
 * Created by Stefan on 18/04/2017.
 */
#}

{% include directory ~ '/templates/partials/menu-right.html.twig' %}

<div id="container__wrapper">

    <div class="container">

        {% include directory ~ '/templates/partials/header.html.twig' %}

        {% include directory ~ '/templates/partials/accommodation.html.twig' %}

        {% include directory ~ '/templates/partials/our-strengths.html.twig' %}

        {% include directory ~ '/templates/partials/price.html.twig' %}

        {% include directory ~ '/templates/partials/footer.html.twig' %}

    </div>

    {% include directory ~ '/templates/partials/popup-price.html.twig' %}


</div>