{#
/**
 * Created by Stefan on 18/04/2017.
 */
#}
{% include directory ~ '/templates/partials/menu-right.html.twig' %}

<div id="container__wrapper">
  <div class="container">
      {% include directory ~ '/templates/partials/header.html.twig' %}

      {{ page.breadcrumb }}

      {{ page.highlighted }}

      {{ page.help }}
    <div class="row">
      <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

        <section class="page-webform-contact-wrap">

            {{ page.content }}

        </section>

      </main>
    </div>

      {% include directory ~ '/templates/partials/footer.html.twig' %}
  </div>
</div>