{#
/**
 * Created by Stefan on 18/04/2017.
 * container__wrapper for slide to the left when menu is visible
 */
#}
{% include directory ~ '/templates/partials/menu-right.html.twig' %}

<div id="container__wrapper">

    <div class="container">

        {% include directory ~ '/templates/partials/header.html.twig' %}

        {{ page.breadcrumb }}

        {{ page.highlighted }}

        {{ page.help }}

        {% include directory ~ '/templates/partials/page-main-content.html.twig' %}

        {% include directory ~ '/templates/partials/footer.html.twig' %}

    </div>

</div>

